*{
    box-sizing:border-box;
    margin:0;
}
h1{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    background-color:rgb(154, 105, 218);
}
div{
    height:200px;
    background-color:coral;
    padding:2%;
}
div#col1{
    background-color:yellow;
}
p{
    background-color:rgb(100, 195, 202);
    width:100px;
    height:100px;
}
/****Large Devices******/
@media (min-width:1200px){
    .col-lg{
        width:50%;
        float:left;
    }
}


@media (max-width:760px){
    .col-sm{
        width:100%;
        float:left;
    }
}

/**medium Devices**/
@media (min-width:761px) and (max-width:1199px){
    .col-md{
        width:33.33%;
        float:left;
    }
    
}