body{
    font-family:Arial, Helvetica, sans-serif;
}

#main-content>div{
    height:1000px;
    width:100%;
    margin-bottom:10px;
    border:1px solid black;
}

#sec1{
    background-color: cadetblue;
}

#sec2{
    background-color: aquamarine;
}

#sec3{
    background-color: blue;
}

#main-content>h1{
    font-weight:bold;
    font-size:3vw;
    background-color:grey;
    margin-top:10px;
}

#sec1>p, #sec2>p, #sec3>p{
    font-weight:bold;
    font-size:3vw;
    background-color:white;
}

#header-nav{
    background-color:yellow;
}