body{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
}
#header-nav{
    background:url("../images/body-back.png") no-repeat;
    width:100%;
}
#body-back{
    background:url("../images/body-back.png") no-repeat;
    height:100%;
    
}
div.navbar-brand{
    margin-right:0;
}
.navbar-brand>a{
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    margin-left:10px;
    color:black;
}
.navbar-brand>p{
    font-size:10px;
    margin-top:0;
    padding-top:0;
    margin-left:10px;
}
#navlist a:hover{
    font-weight:bold;
    justify-content:center; 
}
.nav-item>a{
    text-align: center;
}

/********** Extra small devices only **********/
@media (max-width:576px) {
    .navbar-brand>a{
        font-size:4vw;
    }
    span.navbar-toggler-icon{
        width:30px;
        height:30px;
        padding:0;
    }
    button.navbar-toggler{
        padding:0;
        border:solid 1px black;
    }
    .row>section{
        margin-bottom:10px;
        text-align:center;
    }
    .navbar-brand>a{
        font-size:4vw;
    }
}

/*********Small Devices*****/
@media (min-width:577px) and (max-width:767px){

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Large devices only **********/
@media (min-width: 992px) and (max-width:1199px) {
}

/******** Xtra Large***/
@media (min-width:1200px){
}


#tile1, #tile2, #tile3{
    height:250px;
    width:100%;
    margin-bottom:20px;
    position:relative;
}

#tile1>span, #tile2>span, #tile3>span{
    position:absolute;
    bottom:0;
    right:0;
    text-align:center;
    width:100%;
    /*background:rgb(31, 30, 30);
    opacity:0.8;*/
    text-transform:uppercase;
    text-decoration:none;
    color:black;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
#tile1:hover, #tile2:hover, #tile3:hover{
    box-shadow: 0 1px 5px 1px black;
}
#section1,#contact,#quote{
    font-size:2vw;
}

#contact>a:hover{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
#contact>a{
    color:black;
}
.card-footer .row{
    text-align:center;
}

#quote{
    font-style:italic;
}

#quote>span{
    font-style:normal;
}

#copyright{
    text-align:center;
    font-size:50%;
}
#tile1, #tile2, #tile3{
    padding:10px;
    border-radius:10px;
}

.navbar-light .navbar-nav .nav-link{
    color:black;
}

#jumbo, .jumbotron, .jumbotron-fluid, #jumbo>img{
    padding:0;
    border-radius:10px;
}