*{
    box-sizing: border-box;
    font-size: 20px;
}
body{
    background-color:rgb(219, 217, 72);
}

h1{
    margin-bottom:10px;
    text-align:center;
    font-size:30px;
    background-color:rgba(255, 94, 0, 0.575);
}
section{
    border:1px solid black;
    background-color:rgb(175, 78, 78);
    width:90%;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    position:relative;
}
p{
    width:90%;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}
.row{
    width:100%;
    position:relative;
    top:100px;
}
    #col1,#col2,#col3{
    width:33.33%;
    float:left;
}
.box{
    width:33.33%;
    height:20px;
    background-color:yellow;
    position:absolute;
    top:0px;
    right:0px;
    border-top:none;
    font-size:15px;
    text-align:center;
    font-weight:bold;
}

@media (min-width:768px) and (max-width:991px){
    #col1,#col2{
        width:50%;
        float:left;
    }
    #col3{
        width:100%;
        height:auto;
        margin-top:20px;

    }
}
@media (max-width:767px){
    #col1,#col2,#col3{
        width:100%;
        margin-top:20px;
    }

}